<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image-based DBpedia Search</title>
</head>
<body>
<form action="/" method="get">
<h1 align="center">Image-based DBpedia Search</h1>

<div style="display:flex">
    <div style="flex:1;padding-right:5px;padding-left:5px">
        <p>Sr. No.</p>
    </div>
    <div style="flex:1;padding-left:5px;">
        <p>Ranked Images (first image is the query image)</p>
    </div>
    <div style="flex:1;padding-left:5px;padding-right:5px">
        <p>Article URI</p>
    </div>
</div>

{% for i in range(iteration) %}
<div style="display:flex">
    <div style="flex:1;padding-right:5px;padding-left:5px">
        <p>{{i}}</p>
    </div>
    {% set image_name = image_list[i] %}
    <div style="flex:1;padding-right:5px;padding-left:35px">
        <img src="{{url_for('static', filename=image_name)}}"></img>
    </div>
    {% set url = uris_list[i]%}
    <div>
        <p><a href="{{url}}">{{url}}</a></p>
    </div>
</div>
{% endfor %}

</form>
<form action = / method="POST">
    <label for="username">Next Query Number:</label>
    <input type="text" name="query" id="query" size="15">
    <input type="submit" name="submit" id="submit"/>
</form>
</body>
</html>
